[submodule "src/adefs"]
	path = src/adefs
	url = git@git.adrianpurser.co.uk:library/adefs.git
[submodule "src/adepng"]
	path = src/adepng
	url = git@git.adrianpurser.co.uk:library/adepng.git
[submodule "src/canvas2"]
	path = src/canvas2
	url = git@git.adrianpurser.co.uk:library/canvas2.git
[submodule "src/window"]
	path = src/window
	url = git@git.adrianpurser.co.uk:library/window.git
[submodule "src/programoptions"]
	path = src/programoptions
	url = git@git.adrianpurser.co.uk:library/programoptions.git
[submodule "src/utility"]
	path = src/utility
	url = git@git.adrianpurser.co.uk:library/utility.git
[submodule "src/modaudio"]
	path = src/modaudio
	url = git@git.adrianpurser.co.uk:library/modaudio.git
